.trade-step-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 0 17px 1px rgba(222, 222, 222, .9);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: all .2s;
}

.trade-step-headline.collapsed {
    background-color: #fefefe;
}

.trade-step-headline {
    background-color: #304285;
}

.trade-step-headline:after {
    position: absolute;
    right: 2rem;
    content: '›';
    transform: rotate(90deg);
    font-weight: bolder;
    font-size: 1.55rem;
    color: white;
}

.trade-step-headline.collapsed:after {
    color: #202020;
}

.trade-step-headline span {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #304285;
    background-color: white;
}

.trade-step-headline.collapsed span {
    color: white;
    background-color: #304285;

}

.trade-step-headline h4 {
    margin-bottom: 0;
    margin-left: 1.5rem;
    color: white;
    user-select: none;
}

.trade-step-headline.collapsed h4 {
    color: #202020;
}

.trade-step-body p {
    padding: 1rem;
    background-color: #fefefe;
    box-shadow: 0 0 17px 1px rgba(222, 222, 222, .9);
}